h1 {
    color: red;
    
}
img {
    width: 400px;
}
#thirdDiv{
    height: 600px;
    background-color: bisque;
    padding: 50px;
    border: 5pt solid black;
    display: flex;
    justify-content: center;
    
}
#spanId{
    font-size: 18px;
    font-weight: 700;
    margin: 50px;
    
}
.divClass{
    display: flex;
    justify-content: center;
    
}